.icons-sprite,.icons-cart,.icons-letter,.icons-map-marker,.icons-phone
{
	background-image: url('../img/icons-s393558560b.png');
	background-repeat: no-repeat;
}
.icons-cart
{
	background-position: 0 0;
}
.icons-letter
{
	background-position: 0 -60px;
}
.icons-map-marker
{
	background-position: 0 -81px;
}
.icons-phone
{
	background-position: 0 -115px;
}
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,form,menu,select,textarea,input,button,optgroup
{
	margin: 0;
	padding: 0;
}
ul
{
	list-style: none;
}
a
{
	background-color: transparent;
	outline: 0 !important;
}
img,input,button
{
	border: 0;
}
input
{
	border-radius: 0;
}
input,textarea,select,button,a:active,a:hover
{
	outline: 0;
}
input[type="text"],input[type="email"],input[type="tel"],textarea
{
	webkit-appearance: none;
}
input[type="submit"],button
{
	cursor: pointer;
}
input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner
{
	border: 0;
	padding: 0;
}
textarea
{
	overflow: auto;
	resize: none;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
td,th
{
	padding: 0;
}
svg:not(:root) {
	overflow: hidden;
}
main {
	display: block;
}
@media (min-device-width 320px) and (max-device-width 1024px){
	html
	{
		webkit-text-size-adjust: none;
	}
}
@font-face {
	font-family: "RobotoCondensedBold";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoCondensedBold.eot");
	src: url("../fonts/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"),url("../fonts/RobotoCondensedBold.woff") format("woff"),url("../fonts/RobotoCondensedBold.ttf") format("truetype");
}
@font-face {
	font-family: "RobotoCondensedRegular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoCondensedRegular.eot");
	src: url("../fonts/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"),url("../fonts/RobotoCondensedRegular.woff") format("woff"),url("../fonts/RobotoCondensedRegular.ttf") format("truetype");
}
@font-face {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),url("../fonts/RobotoRegular.woff") format("woff"),url("../fonts/RobotoRegular.ttf") format("truetype");
}
@font-face {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	src: url("../fonts/fontello.eot");
	src: url("../fonts/fontello.eot?#iefix") format("embedded-opentype"),url("../fonts/fontello.woff") format("woff"),url("../fonts/fontello.ttf") format("truetype");
}
textarea::-webkit-input-placeholder
{
	color: #999;
}
textarea::-moz-placeholder
{
	color: #999;
}
textarea::-webkit-input-placeholder
{
	color: #999;
}
textarea:-moz-placeholder
{
	color: #999;
}
textarea:-ms-input-placeholder
{
	color: #999;
}
input[type="text"]::-webkit-input-placeholder
{
	color: #999;
}
input[type="text"]::-moz-placeholder
{
	color: #999;
}
input[type="text"]:-moz-placeholder
{
	color: #999;
}
input[type="text"]:-ms-input-placeholder
{
	color: #999;
}
input[type="email"]::-webkit-input-placeholder
{
	color: #999;
}
input[type="email"]::-moz-placeholder
{
	color: #999;
}
input[type="email"]:-moz-placeholder
{
	color: #999;
}
input[type="email"]:-ms-input-placeholder
{
	color: #999;
}
textarea::-webkit-input-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea::-moz-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea:-moz-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea:-ms-input-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
textarea:focus::-webkit-input-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
textarea:focus::-moz-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
textarea:focus:-moz-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
textarea:focus:-ms-input-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="text"]::-webkit-input-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="text"]::-moz-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="text"]:-moz-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="text"]:-ms-input-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="text"]:focus::-webkit-input-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="text"]:focus::-moz-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="text"]:focus:-moz-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="text"]:focus:-ms-input-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="email"]::-webkit-input-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="email"]::-moz-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="email"]:-moz-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="email"]:-ms-input-placeholder
{
	opacity: 1;
	transition: opacity 0.3s ease;
}
input[type="email"]:focus::-webkit-input-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="email"]:focus::-moz-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="email"]:focus:-moz-placeholder
{
	opacity: 0;
	transition: opacity 0.3s ease;
}
input[type="email"]:focus:-ms-input-placeholder{
	opacity: 0;
	transition: opacity 0.3s ease;
}
::-webkit-scrollbar {
	height: 0.5em;
	width: 0.5em;
}
::-webkit-scrollbar-thumb {
	background: #708090;
}
::-webkit-scrollbar-track {
	background: #b8c0c8;
}
::scrollbar {
	height: 0.5em;
	width: 0.5em;
}
::scrollbartrack-vertical {
	background: #708090;
}
body {
	scrollbar-face-color: #708090;
	scrollbar-track-color: #b8c0c8;
}
[class^="icon-"]:before,[class*=" icon-"]:before
{
	display: inline-block;
	font-family: "fontello";
	font-size: 38px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1em;
	margin-left: 0.2em;
	margin-right: 0.2em;
	moz-osx-font-smoothing: grayscale;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	webkit-font-smoothing: antialiased;
	width: 1em;
}
.widget-back.wi-middle
{
	margin-top: 100px;
}
.icon-periscope-2:before
{
	content: "";
	margin: -19px;
}
.main-text
{
	clear: both;
	font-family: RobotoRegular;
	font-size: 18px;
}
.breadcrumb
{
	font-family: RobotoRegular;
	font-size: 16px;
}
.separator-line
{
	height: 30px;
	width: 100%;
}
.wrapp-check-online
{
	clear: both;
	margin-top: 40px;
	text-align: center;
}
.check-online
{
	border: 2px solid #900;
	color: #900;
	font-family: RobotoCondensedBold;
	font-size: 18px;
	margin: 0 auto;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.panel-group .check-online
{
	margin: 10px auto;
}
.hidden-menu
{
	background-color: #eee;
	box-sizing: border-box;
	display: block;
	height: 120px;
	left: 0;
	list-style: none;
	margin: 0;
	moz-transition: top 0.2s;
	o-transition: top 0.2s;
	padding: 10px 10px 20px 10px;
	position: fixed;
	top: -120px;
	transition: top 0.2s;
	webkit-backface-visibility: hidden;
	webkit-transform: translateZ(0);
	webkit-transition: top 0.2s;
	width: 100%;
	z-index: 20000000;
}
.hidden-menu-ticker
{
	display: none;
}
.btn-menu
{
	background-color: #666;
	color: #fff;
	cursor: pointer;
	padding: 5px;
	position: fixed;
	right: 55px;
	top: 15px;
	transition: left 0.23s;
	width: 35px;
	z-index: 3;
}
.btn-menu span
{
	background-color: #fff;
	display: block;
	height: 5px;
	margin: 5px 0 0;
	position: relative;
	transition: all 0.1s linear 0.23s;
}
.btn-menu span.first
{
	margin-top: 0;
}
.hidden-menu-ticker:checked ~ .hidden-menu
{
	top: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.first
{
	moz-transform: rotate(45deg);
	ms-transform: rotate(45deg);
	top: 10px;
	transform: rotate(45deg);
	webkit-transform: rotate(45deg);
}
.hidden-menu-ticker:checked ~ .btn-menu span.second
{
	opacity: 0;
}
.hidden-menu-ticker:checked ~ .btn-menu span.third
{
	moz-transform: rotate(-45deg);
	ms-transform: rotate(-45deg);
	top: -10px;
	transform: rotate(-45deg);
	webkit-transform: rotate(-45deg);
}
.header
{
	background-color: #dfdfe2;
	box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.5);
	moz-box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.5);
	moz-transition: height 0.3s;
	o-transition: height 0.3s;
	position: fixed;
	transition: height 0.3s;
	webkit-box-shadow: 1px 1px 7px 3px rgba(0,0,0,0.5);
	webkit-transition: height 0.3s;
	width: 100%;
	z-index: 100000;
}
.header .language-swip
{
	display: none;
}
.header .language-swip:before,.header .language-swip:after
{
	content: "";
	display: table;
}
.header .language-swip:after
{
	clear: both;
}
.header .language-swip li
{
	float: left;
	margin-right: 5px;
}
.header .header-nav__right
{
	margin-top: -20px;
}
.header .header-nav__right .header-nav
{
	margin-top: 20px;
}
.header .header-logo
{
	left: 50%;
	position: absolute;
	z-index: 100;
	text-align: center;
	transform: translateX(-50%) translateY(-50%);
	top: 93px;
}
.header .header-logo a
{
	display: inline-block;
	height: 80%;
	width: 80%;
	border-radius: 50%;
	box-shadow: 0 0 20px #000;
	transition: all 0.3s ease;
}
.header .header-logo a:hover {
	box-shadow: 0 0 10px #000;
}
.header .header-logo img {
	width: 100%;
	height: auto;
}
.header .header-nav-bar-right
{
	float: right;
	position: relative;
	width: 40%;
	margin-right: 68px;

}
.header .header-nav-bar-right .check-by-phone
{
	color: #999;
	font-family: RobotoRegular;
	font-size: 14px;
	font-weight: 900;
	margin: -10px 0;
	position: absolute;
	top: 50px;
}
.header .header-nav-bar-right .header-nav__right-list li:first-child
{
	margin-left: 0;
}
.header .header-nav-bar-right .schedule
{
	color: #999;
	float: left;
	font-family: RobotoRegular;
	font-size: 14px;
	font-weight: 900;
	margin-bottom: 0;
	margin-top: 15px;
}
.header .header-nav-bar-right .header-check
{
	color: #900;
	float: right;
	font-family: RobotoCondensedBold;
	font-size: 14px;
	margin-top: 20px;
	margin-right: 27px;
	text-decoration: underline;
}
.header .header-nav__left-list
{
	float: right;
}
.header-nav-bar-left
{
	float: left;
	width: 40%;
}
.header-nav-bar-left .search__form
{
	float: left;
	margin-top: 15px;
	width: 45%;
}
.header-nav-bar-left .search
{
	position: relative;
	width: 100%;
}
.header-nav-bar-left .search .search input
{
	border: none;
}
.header-nav-bar-left .search .search .input
{
	background: #EEE;
	border-radius: 20px;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
	box-sizing: border-box;
	color: #555;
	font: 13px Tahoma,Arial,sans-serif;
	moz-border-radius: 20px;
	moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
	moz-box-sizing: border-box;
	outline: none;
	padding: 8px 37px 9px 15px;
	webkit-border-radius: 20px;
	webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
	width: 100%;
}
.header-nav-bar-left .search .search .input:focus
{
	background: #E8E8E8;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	color: #333;
	moz-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}
.header-nav-bar-left .search .search .submit
{
	background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	height: 100%;
	opacity: 0.5;
	position: absolute;
	right: 0;
	top: 0;
	width: 37px;
}
.header-nav-bar-left .search .search .submit:hover
{
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
}
.header-nav-bar-left .search input[type="search"]
{
	webkit-appearance: none;
}
header.sticky
{
	background: #dfdfe2;
	line-height: 30px;
	position: fixed;
	text-align: left;
	width: 100%;
}
header.sticky .header-logo
{
	top: 60px;
}
header.sticky .header-logo a
{
	height: 50%;
	moz-transition: all 0.3s;
	o-transition: all 0.3s;
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	width: 50%;
}
header.sticky .language-swip
{
	display: none;
}
header.sticky .header-nav-bar-right .header-nav
{
	margin: 0;
}
header.sticky .header-nav-bar-right .schedule
{
	display: none;
}
header.sticky .header-nav-bar-right .check-by-phone
{
	display: none;
}
header.sticky .header-nav-bar-right .header-check
{
	display: none;
}
header.sticky .header-nav
{
	margin: 0;
}
header.sticky .header-nav p
{
	margin: 0;
}
header.sticky .header-nav li a
{
	display: inline;
	padding: 0;
}
header.sticky .header-nav li a:after
{
	display: none;
}
.header-nav
{
	font-family: PTSansNarrow;
	font-size: 14px;
	margin-top: 85px;
}
.header-nav:after
{
	clear: both;
}
.header-nav > li
{
	display: inline-block;
	position: relative;
	text-align: center;

}
.header-nav li a
{
	color: #000;
	position: relative;
	display: inline-block;
	padding: 3px 0;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.header-nav li:hover > a
{
	text-decoration: none;
	color: #792a1d;
}
.header-nav li:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 2px;
	height: 1px;
	background: #792a1d;
}
.header-nav li a:after
{
	background: url(../img/svg/mussache.svg) no-repeat;
	content: "";
	display: block;
	height: 20px;
	margin: 0 auto;
	width: 45px;
}
.header-nav li .active
{
	border-top: 2px solid #900;
	color: #900;
	margin-top: -2px;
}
.nav__social
{
	float: right;
	margin-top: 15px;
}
.nav__social:before,.nav__social:after
{
	content: "";
	display: table;
}
.nav__social:after
{
	clear: both;
}
.nav__social li
{
	background-color: #900;
	border-radius: 50%;
	display: inline-block;
	height: 30px;
	margin: 0 4px;
	moz-border-radius: 50%;
	position: relative;
	webkit-border-radius: 50%;
	width: 30px;
	transition: all 0.3s ease;
	overflow: hidden;
	list-style-type: none;
}
.nav__social li:hover
{
	background-color: #bcbcbd;
}
.nav__social li a
{
	color: #dfdfe2;
	display: block;
	font-size: 19px;
	height: 100%;
	position: absolute;
	text-decoration: none;
	width: 100%;
	transition: all 0.5s ease;
}
.nav__social li a:before
{
	left: 50%;
	position: absolute;
	top: 50%;
}
.nav__social li .fa-vk:before
{
	margin: -10px 0 0 -10px;
}
.nav__social li .fa-facebook:before
{
	margin: -9px 0 0 -6px;
}
.nav__social li .fa-instagram:before
{
	margin: -9px 0 0 -8px;
}
.nav__social li .fa-twitter:before
{
	margin: -8px 0 0 -10px;
}
.nav__social li .fa-youtube:before
{
	margin: -10px 0 0 -8px;
}
.nav__social li .fa-pinterest:before
{
	margin: -9px 0 0 -8px;
}
.slider
{
	position: relative;
}
.slider .go-to-down
{
	background-color: #dfdfe2;
	border-radius: 50%;
	bottom: -50px;
	cursor: pointer;
	height: 100px;
	left: 50%;
	margin-left: -50px;
	moz-border-radius: 50%;
	position: absolute;
	webkit-border-radius: 50%;
	width: 100px;
}
.slider .go-to-down .go-to-down__nav
{
	font-size: 50px;
	left: 52%;
	margin: -23px 0 0 -26px;
	position: absolute;
	top: 50%;
}
.main
{
	background: url(../img/main-bg.jpg) repeat;
	height: 100%;
	padding: 180px 0 55px 0;
	overflow: hidden;
}
.main-blocks
{
	background: rgba(223, 223, 226, .85);
	padding: 0 25px 20px 25px;
}
.main-blocks .col-md-6:before,.main-blocks .col-md-6:after
{
	content: "";
	display: table;
}
.main-blocks .col-md-6:after
{
	clear: both;
}
.main-blocks .main-blocks__title
{
	color: #000;
	font-family: RobotoCondensedBold;
	font-size: 35px;
	margin: 0 auto;
	padding: 30px 0 50px 0;
	text-align: center;
	text-transform: uppercase;
}
.main-blocks .main-blocks__title-blog
{
	max-width: 100%;
}
.main-blocks .main-blocks__title-personal
{
	padding: 30px 0 0 0;
}
.main-blocks .main-blocks__title-desc
{
	font-size: 18px;
	padding: 15px 0;
}
.main-blocks .main-blocks-left
{
	padding: 0;
}
.main-blocks .main-blocks-right
{
	padding: 0;
}
.main-blocks .main-blocks-right .main-blocks-right__row
{
	margin-top: 20px;
}
.panel-group .wrapp-check-online
{
	text-align: left;
}
.link-box
{
	position: relative;
}
.link-box .link-box__title
{
	color: #fff;
	font-family: RobotoCondensedBold;
	font-size: 24px;
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
	text-shadow: 1px 3px 1px rgba(0,0,0,0.9);
	text-transform: uppercase;
}
.autobiography
{
	background: url(../img/main-links/autobiography.png) no-repeat center;
	background-size: cover;
	height: 430px;
	margin: 0 auto;
	width: 100%;
}
.autobiography .autobiography__title
{
	bottom: 25px;
	left: 50%;
	margin-left: -175px;
	position: absolute;
}
.history
{
	background: url(../img/main-links/history.png) no-repeat;
}
.history .history__title
{
	bottom: 25px;
	font-size: 18px;
	left: 50%;
	margin-left: -61px;
	position: absolute;
}
.ideas
{
	background: url(../img/main-links/ideas.png) no-repeat;
}
.ideas .ideas__title
{
	bottom: 25px;
	font-size: 18px;
	left: 50%;
	margin-left: -57px;
	position: absolute;
}
.motivation
{
	background: url(../img/main-links/motivation.png) no-repeat;
}
.motivation .motivation__title
{
	bottom: 25px;
	font-size: 18px;
	left: 50%;
	margin-left: -44px;
	position: absolute;
}
.people
{
	background: url(../img/main-links/people.png) no-repeat;
}
.people .people__title
{
	bottom: 25px;
	font-size: 18px;
	left: 50%;
	margin-left: -83px;
	position: absolute;
}
.clothes
{
	background: url(../img/shop-enter/clothes.jpg) no-repeat;
	height: 430px;
}
.accessories-hair
{
	background: url(../img/shop-enter/accessories-hair.jpg) no-repeat;
	height: 430px;
}
.accessories
{
	background: url(../img/shop-enter/accessories.jpg) no-repeat;
	margin-bottom: 22px;
}
.shoes
{
	background: url(../img/shop-enter/shoes.jpg) no-repeat;
}
.hand-made
{
	background: url(../img/shop-enter/hand-made.jpg) no-repeat;
}
.instruments
{
	background: url(../img/shop-enter/instruments.jpg) no-repeat;
}
.cosmetics
{
	background: url(../img/shop-enter/cosmetics.jpg) no-repeat;
	height: 203px;
}
.shop-enter-blocks__content
{
	background-size: cover;
	height: 204px;
}
.main-blocks__content
{
	background-size: cover;
	height: 205px;
	width: 100%;
}
.overlay-img
{
	left: 50%;
	margin: -55px 0 0 -55px;
	moz-transition: all 0.4s ease-in-out;
	opacity: 0;
	o-transition: all 0.4s ease-in-out;
	position: absolute;
	top: 50%;
	transition: all 0.4s ease-in-out;
	webkit-transition: all 0.4s ease-in-out;
}
.overlay:hover .overlay-img
{
	opacity: 1;
}
.link-box:hover .overlay
{
	background-color: rgba(153,0,0,0.6);
	opacity: 1;
}
.link-box .overlay
{
	height: 100%;
	left: 0;
	moz-transition: all 0.4s ease-in-out;
	o-transition: all 0.4s ease-in-out;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: all 0.4s ease-in-out;
	webkit-transition: all 0.4s ease-in-out;
	width: 100%;
}
.link-box .overlay a
{
	display: block;
	height: 100%;
	width: 100%;
}
.row-margin
{
	margin-bottom: 20px;
}
.row-margin:before,.row-margin:after
{
	content: "";
	display: table;
}
.row-margin:after
{
	clear: both;
}
.about-us .main-blocks__title
{
	position: relative;
}
.about-us .main-blocks__title::after,
.services-wrapp .main-blocks__title::after
{
	background: url(../img/svg/shave-open.svg) no-repeat;
	background-size: contain;
	content: "";
	display: block;
	height: 30px;
	margin: 0 auto;
	width: 100px;
}
.services-wrapp:before,.services-wrapp:after
{
	content: "";
	display: table;
}
.services-wrapp:after
{
	clear: both;
}
.services-wrapp .main-blocks
{
	/*background: url(../img/services-main.jpg) no-repeat 100% 100%;*/
	background-size: cover;
}
.main-blocks .wrapp-check-online a:hover {
	background: #900;
	text-decoration: none;
	color:#fff;
}
.services-wrapp .main-blocks a
{
	/*color: #dfdfe2;*/
	text-decoration: none;

}
.services-wrapp .main-blocks .main-blocks__title
{
	/*color: #dfdfe2;*/
}
.services-wrapp .col-md-12
{
	margin-bottom: 20px;
}
.services-wrapp .table-responsive
{
	/*color: #dfdfe2;*/
	font-size: 20px;
}
.services-wrapp .table-responsive td:first-child
{
	moz-transition: linear 0.3s;
	o-transition: linear 0.3s;
	padding: 0 0 0 60px;
	transition: linear 0.3s;
	webkit-transition: linear 0.3s;
}
.services-wrapp .table-responsive td:first-child:before
{
	background: url(../img/services-item.png) no-repeat;
	content: "";
	display: block;
	float: left;
	height: 20px;
	margin: 5px 0 0 -65px;
	moz-transition: linear 0.8s;
	o-transition: linear 0.8s;
	transition: linear 0.8s;
	webkit-transition: linear 0.8s;
	width: 44px;
}
.services-wrapp .table-responsive td:first-child:hover
{
	opacity: 0.7;
}
.haircut
{
	background: url(../img/services/1.jpg) no-repeat center;
	height: 430px;
}
.greyness
{
	background: url(../img/services/2.jpg) no-repeat center;
	height: 204px;
}
.royal-shave
{
	background: url(../img/services/3.jpg) no-repeat center;
	height: 204px;
}
.laying
{
	background: url(../img/services/4.jpg) no-repeat center;
	height: 430px;
}
.man-haircut
{
	background: url(../img/services/5.jpg) no-repeat center;
	height: 204px;
}
.father-son
{
	background: url(../img/services/6.jpg) no-repeat center;
	height: 430px;
}
.beard-grooming
{
	background: url(../img/services/7.jpg) no-repeat center;
	height: 204px;
}
.make-tattoo
{
	background: url(../img/services/8.jpg) no-repeat center;
	height: 430px;
}
.child-haircut
{
	background: url(../img/services/9.jpg) no-repeat center;
	height: 204px;
}
.mowing-machine
{
	background: url(../img/services/10.jpg) no-repeat center;
	height: 204px;
}
.service-slider
{
	margin: 20px 0;
}
.card-box li:hover .bottom-menu
{
	background-color: rgba(153,0,0,0.5);
	height: 142px;
}
.card-box li:hover .bottom-menu .bottom-menu__name:after
{
	display: none;
}
.card-box li:hover .bottom-menu .bottom-menu__btn-buy
{
	bottom: 0;
}
.card-box li .card-box__wrapp
{
	margin: 0 auto;
	position: relative;
}
.card-box li .bottom-menu
{
	background-color: rgba(15,77,124,0.5);
	bottom: 0;
	color: #fff;
	display: block;
	font-family: RobotoCondensedBold;
	height: 109px;
	moz-transition: all 0.4s ease-in-out;
	o-transition: all 0.4s ease-in-out;
	position: absolute;
	text-align: center;
	text-shadow: 1px 3px 1px rgba(0,0,0,0.9);
	text-transform: uppercase;
	transition: all 0.4s ease-in-out;
	webkit-transition: all 0.4s ease-in-out;
	width: 100%;
	padding: 0 5px;
}
.card-box li .bottom-menu .bottom-menu__name
{
	font-size: 17px;
}
.card-box li .bottom-menu .bottom-menu__name:after
{
	background-color: #fff;
	content: "";
	display: block;
	height: 1px;
	margin: 10px auto 0 auto;
	width: 50px;
}
.card-box li .bottom-menu .bottom-menu__name-desc
{
	margin-bottom: 36px;
}
.card-box li .bottom-menu .bottom-menu__link
{
	color: #fff;
	font-family: RobotoCondensedRegular;
	font-size: 14px;
	text-decoration: underline;
}
.card-box li .bottom-menu .bottom-menu__link:hover {
	opacity: 0.7;
}
.card-box li .bottom-menu .bottom-menu__btn-buy
{
	background-color: #630000;
	bottom: -44px;
	color: #fff;
	display: block;
	font-family: RobotoCondensedBold;
	font-size: 24px;
	margin-top: -11px;
	moz-transition: all 0.4s ease-in-out;
	o-transition: all 0.4s ease-in-out;
	padding: 5px 15px;
	position: absolute;
	transition: all 0.4s ease-in-out;
	webkit-transition: all 0.4s ease-in-out;
	width: 100%;
	margin: 0 -5px;
}
.personal-pages
{
	margin-bottom: 15px;
}
.row .enter-personal-page
{
	background-color: #0f4d7c;
	height: 425px;
	margin-left: 3px;
	moz-transition: all 0.4s ease-in-out;
	o-transition: all 0.4s ease-in-out;
	padding: 0;
	text-align: center;
	transition: all 0.4s ease-in-out;
	webkit-transition: all 0.4s ease-in-out;
	width: 49%;
}
.row .enter-personal-page:hover
{
	background: #a62c2d;
	text-decoration: none;
}
.row .enter-personal-page:hover .enter-personal-page__link
{
	display: block;
}
.row .enter-personal-page__title
{
	color: #dfdfe2;
	font-family: RobotoCondensedBold;
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}
.row .enter-personal-page__logo
{
	background: url(../img/page-barber-masters/logo-gray.png) no-repeat;
	background-size: contain;
	display: block;
	height: 170px;
	margin: 60px auto;
	width: 170px;
}
.row .enter-personal-page__link
{
	color: #dfdfe2;
	display: none;
	font-family: RobotoRegular;
	font-size: 16px;
	text-decoration: underline;
}
.personal-photo
{
	background: url(../img/personal-page-barber/personal-photo.jpg) no-repeat center;
	height: 440px;
	margin-top: 15px;
	position: relative;
}
.personal-photo .personal-quote
{
	border: none;
	color: #dfdfe2;
	float: right;
	font-family: RobotoCondensedBold;
	font-size: 21px;
	height: 50px;
	margin-right: 25px;
	margin-top: -25px;
	position: absolute;
	right: 25px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	text-transform: uppercase;
	top: 50%;
}
.row-description
{
	margin-top: 15px;
	padding: 0 40px;
}
.personal-description
{
	background: rgba(15,77,124,0.8);
	padding: 15px;
}
.personal-description .personal-description__text
{
	color: #dfdfe2;
	font-family: RobotoRegular;
	font-size: 16px;
	margin-bottom: 15px;
}
.lightSlider.lsGrab>*
{
	text-align: center;
}
.blog-post-container
{
	margin-bottom: 15px;
	position: relative;
	text-align: center;
}
.blog-post-container .blog-post-container__text
{
	background-color: rgba(15,77,124,0.8);
	color: #dfdfe2;
	height: 100%;
	padding: 15px;
	position: absolute;
	right: 15px;
	top: 0;
	width: 46%;
}
.blog-post-container .blog-post-container__text .blog-post-container__text-title
{
	font-family: RobotoCondensedBold;
	font-size: 24px;
	margin-top: 0;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
	text-transform: uppercase;
}
.blog-post-container .blog-post-container__text p
{
	font-family: RobotoRegular;
	font-size: 16px;
	text-align: left;
}
.blog-post-container .blog-post-container__text .blog-post-container__text-link
{
	bottom: 20px;
	color: #dfdfe2;
	font-family: RobotoCondensedBold;
	position: absolute;
	right: 20px;
	text-decoration: underline;
	text-transform: uppercase;
}
.blog-post-container .blog-post-container__text .blog-post-container__text-link:hover
{
	color: #fff;
}
.post-container
{
	font-family: RobotoRegular;
	font-size: 18px;
	padding: 0 40px;
	text-align: left;
}
.post-container .post-container-subtitle
{
	font-size: 20px;
	padding-top: 50px;
	text-align: center;
	text-transform: uppercase;
}
.post-container .post-container__nav
{
	margin-top: 50px;
}
.post-container .post-container__nav:after {
	content: "";
	display: block;
	clear: both;
}
.post-container .post-container__nav li:first-child
{
	float: left;
}
.post-container .post-container__nav li:last-child
{
	float: right;
}
.post-container .post-container__nav li a
{
	color: rgba(153,0,0,0.6);
	font-family: RobotoCondensed;
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}
.post-container .post-container__nav li a:hover
{
	color: #900;
}

.mass-media-container .mass-media-container__text
{
	moz-transition: all 0.4s ease-in-out;
	o-transition: all 0.4s ease-in-out;
	right: 15px;
	transition: all 0.4s ease-in-out;
	webkit-transition: all 0.4s ease-in-out;
}
.mass-media-container .mass-media-container__text:hover
{
	background-color: rgba(153,0,0,0.6);
}
.mass-media__label
{
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.mass-media__label:before,.mass-media__label:after
{
	content: "";
	display: table;
}
.mass-media__label:after
{
	clear: both;
}
.table-responsive
{
	color: #000;
	font-family: RobotoRegular;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.table-responsive a
{
	color: #000;
}
.map-wrapp
{
	text-align: center;
}
.personal-pages .col-md-6 {
	padding: 0;
	display: inline-block;
	vertical-align: top;
}
.personal-pages a {
	display: inline-block;
	vertical-align: top;
}
.cart-label
{
	border: 2px solid #0f4d7c;
	color: #000;
	font-family: RobotoCondensedBold;
	font-size: 18px;
	padding: 15px;
	text-transform: uppercase;
}
.cart-label p
{
	margin: 0;
}
.cart-label p span
{
	font-family: RobotoCondensedRegular;
}
.cart-label .cart-label__wrapp:before
{
	background: url(../img/icons-s393558560b.png) no-repeat;
	background-position: 0 0;
	content: "";
	display: block;
	float: left;
	height: 60px;
	margin: -6px 15px 0 0;
	width: 69px;
}
.categories
{
	padding: 0 10px;
}
.categories .categories-title
{
	color: #000;
	font-family: RobotoCondensedBold;
	font-size: 24px;
	text-transform: uppercase;
}
.categories .categories-title:after
{
	background-color: #900;
	content: "";
	display: block;
	height: 2px;
	margin-top: 10px;
	width: 30px;
}
.categories .categories-nav:after
{
	background-color: #000;
	content: "";
	display: block;
	height: 2px;
	width: 140px;
}
.categories .categories-nav li
{
	margin-top: 10px;
}
.categories .categories-nav li a
{
	color: #000;
	font-family: RobotoCondensedRegular;
	font-size: 18px;
	text-transform: uppercase;
}
.categories .categories-nav li:last-child
{
	margin-bottom: 15px;
}
.catalogue-content .catalogue-content__title
{
	color: #000;
	font-family: RobotoCondensedBold;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.other-goods__list
{
	overflow: hidden;
	position: relative;
}
.other-goods__list:before,.other-goods__list:after
{
	content: "";
	display: table;
}
.other-goods__list:after
{
	clear: both;
}
.other-goods__list li
{
	float: left;
	margin-right: 14px;
	overflow: hidden;
	position: relative;
}
.other-goods__list img
{
	min-width: 280px;
	vertical-align: middle;
}

.filter-open__list
{
	background-color: #ccc;
	border: 1px solid #bcbcbd;
	box-sizing: border-box;
	display: block;
	margin: 10px 0;
	moz-box-sizing: border-box;
	padding: 10px;
	webkit-box-sizing: border-box;
	width: 100%;
}
.filter-open__list option
{
	color: #0f4d7c;
	font-weight: 700;
}
.filter-open__list option:hover
{
	background-color: #ccc;
}
.video
{
	background-color: #ccc;
	height: 430px;
}
.main-blocks-video
{
	position: relative;
	width: 100%;
}
.main-blocks-video #play
{
	background-color: #ccc;
	border-radius: 50%;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	moz-border-radius: 50%;
	position: absolute;
	top: 50%;
	webkit-border-radius: 50%;
	width: 50px;
}
.main-blocks-video #play:before
{
	border-bottom: 10px solid transparent;
	border-left: 20px solid rgba(0,0,0,0.8);
	border-top: 10px solid transparent;
	content: "";
	display: block;
	height: 0;
	margin-left: 17px;
	width: 0;
}
.main-blocks-video video
{
	width: 100%;
}
.request
{
	box-sizing: border-box;
	height: 220px;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.request h3
{
	font-family: RobotoCondensedBold;
	text-align: center;
	text-transform: uppercase;
}
.request input[type="text"]
{
	background: none;
	border-bottom: 2px solid #fff;
	margin-bottom: 10px;
	outline: none;
	padding: 5px 10px;
	width: 100%;
}
.request .wrapp-check-online
{
	margin-top: 15px;
}
.request .wrapp-check-online .btn-submit
{
	background-color: #a72d2d;
	color: #fff;
	padding: 5px 30px;
}
.school-prices
{
	font-family: RobotoRegular;
	margin-bottom: 20px;
}
.school-prices h4
{
	font-size: 20px;
	text-transform: uppercase;
}
.school-prices .school-price
{
	display: block;
	margin-left: 15px;
}
.model-list
{
	margin-top: 15px;
}
.model-list li
{
	box-sizing: border-box;
	cursor: pointer;
	float: left;
	margin-left: 10px;
	moz-box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.model-list li.active
{
	box-shadow: 0 0 0 3px rgba(15,77,124,0.9);
	moz-box-shadow: 0 0 0 3px rgba(15,77,124,0.9);
	webkit-box-shadow: 0 0 0 3px rgba(15,77,124,0.9);
}
.model-list li:first-child
{
	margin-left: 0;
}
.catalogue-item:before,.catalogue-item:after
{
	content: "";
	display: table;
}
.catalogue-item:after
{
	clear: both;
}
.good-item
{
	float: left;
	width: 35%;
}
.good-item:before,.good-item:after
{
	content: "";
	display: table;
}
.good-item:after
{
	clear: both;
}
.catalogue-item__description
{
	float: left;
	font-size: 15px;
	width: 65%;
}
.catalogue-item__description .table-bordered
{
	border: 2px solid #000;
}
.catalogue-item__description .table-bordered td
{
	border: 2px solid #000;
	padding: 4px;
}
.catalogue-item__colors
{
	float: left;
}
.catalogue-item__colors:before,.catalogue-item__colors:after
{
	content: "";
	display: table;
}
.catalogue-item__colors:after
{
	clear: both;
}
.catalogue-item__colors li
{
	cursor: pointer;
	float: left;
	margin-left: 10px;
}
.catalogue-item__colors li:first-child
{
	margin-left: 0;
}
.catalogue-item__buy-block
{
	float: right;
	text-align: center;
}
.catalogue-item__buy-block .catalogue-item__buy-price
{
	color: #0f4d7c;
	font-family: RobotoCondensedBold;
	font-size: 24px;
}
.catalogue-item__buy-block .catalogue-item__buy-btn
{
	border: 2px solid #900;
	color: #900;
	display: block;
	font-weight: 800;
	margin: 15px 0;
	moz-transition: all 0.3s;
	o-transition: all 0.3s;
	padding: 14px 50px;
	text-transform: uppercase;
	transition: all 0.3s;
	webkit-transition: all 0.3s;
	width: 100%;
}
.catalogue-item__buy-block .catalogue-item__buy-btn:hover
{
	background-color: #b5595a;
	color: #fff;
	text-decoration: none;
}
.catalogue-item__buy-block .catalogue-item__buy-payment
{
	color: #0f4d7c;
	font-size: 14px;
	text-decoration: underline;
	text-transform: uppercase;
}
.quantity .qty
{
	border: 1px solid #ccc;
	width: 25%;
}
.page-numbers
{
	text-align: center;
}
.page-numbers:before,.page-numbers:after
{
	content: "";
	display: table;
}
.page-numbers:after
{
	clear: both;
}
.page-numbers li
{
	display: inline-block;
	margin-right: 10px;
}
.comments-title
{
	font-family: RobotoRegular;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}
.catalogue-item__request
{
	margin-top: 20px;
	position: relative;
}
.catalogue-item__request input[type="submit"]
{
	background: none;
	bottom: 30px;
	color: #900;
	font-family: RobotoCondensedRegular;
	font-size: 12px;
	position: absolute;
	right: 10px;
	text-decoration: underline;
	text-transform: uppercase;
}
.catalogue-item__request input[type="text"]
{
	width: 50%;
}
.catalogue-item__request textarea
{
	background-color: #f4f4f4;
	height: 140px;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
}
.form-review
{
	margin-bottom: 20px;
}
.form-review .form-review__title
{
	border-top: 2px solid #000;
	font-family: RobotoCondensedRegular;
	font-size: 18px;
	padding-top: 8px;
	width: 50%;
}
.form-review .form-review__title .form-review__date
{
	border-left: 1px solid #000;
	margin-left: 5px;
	padding-left: 5px;
}
.form-review .form-review__text
{
	font-size: 16px;
}
.contacts-wrapper
{
	font-size: 20px;
	text-align: justify;
}
.contacts-wrapper span
{
	font-weight: 900;
}
.filter-input
{
	background: #bcbcbd;
	border-radius: 10px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset;
	display: block;
	margin: 10px 0;
	moz-border-radius: 10px;
	moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset;
	padding: 5px 10px;
	webkit-border-radius: 10px;
	webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.5) inset;
}
.footer
{
	color: #000;
	font-family: RobotoRegular;
	font-size: 22px;
	padding-top: 15px;
}
.footer .footer-schedule
{
	margin: 0 auto;
	max-width: 350px;
	text-align: center;
}
.footer a
{
	color: #000;
	text-decoration: none;
}
.footer a:hover
{
	text-decoration: none;
}
.footer .contact-us
{
	margin-top: 7px;
	text-align: center;
}
.footer .contact-us li
{
	line-height: 36px;
	text-align: left;
}
.footer .contact-us li:before
{
	float: left;
}
.footer .all-rights
{
	font-size: 13px;
	margin: 0;
}
.footer .phone-number {
	padding-left: 10px;
}
.footer .contact-us li .fa-skype
{
	float: left;
	font-size: 36px;
	margin-right: 16px;
}
.footer .nav__social
{
	float: none;
	margin: 0 53px;
}
.footer .faq
{
	margin-bottom: 10px;
	text-align: center;
}
.footer .faq a
{
	text-decoration: underline;
}
.footer .faq a:hover
{
	opacity: 0.7;
	color: inherit;
}
.footer .footer-question
{
	display: block;
}
.input-right .order-input
{
	box-sizing: border-box;
	display: block;
	margin: 20px 0;
	moz-box-sizing: border-box;
	padding: 5px 10px;
	webkit-box-sizing: border-box;
	width: 100%;
}
.wrapper-dropdown
{
	background: #fff;
	color: #999;
	cursor: pointer;
	margin: 20px 0;
	outline: none;
	padding: 5px 10px;
	position: relative;
	width: 100%;
}
.wrapper-dropdown:after
{
	border-color: transparent #000;
	border-style: solid;
	border-width: 6px 0 6px 6px;
	content: "";
	height: 0;
	margin-top: -6px;
	moz-transform: rotate(90deg);
	ms-transform: rotate(90deg);
	position: absolute;
	right: 16px;
	top: 50%;
	transform: rotate(90deg);
	webkit-transform: rotate(90deg);
	width: 0;
}
.wrapper-dropdown-1 .dropdown
{
	background-color: #fff;
	font-weight: normal;
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 100%;
	z-index: 20;
}
.wrapper-dropdown-1 .dropdown li a
{
	color: #9e9e9e;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
}
.wrapper-dropdown-1 .dropdown li:hover a
{
	background: #6f94b0;
	color: #fff;
}
.wrapper-dropdown-1.active .dropdown
{
	opacity: 1;
	pointer-events: auto;
}
.wrapper-dropdown-1.active:after
{
	border-color: #9bc7de transparent;
	border-width: 6px 6px 0 6px;
	margin-top: -3px;
	moz-transform: rotate(180deg);
	ms-transform: rotate(180deg);
	transform: rotate(180deg);
	webkit-transform: rotate(180deg);
}
.wrapper-dropdown-1.active
{
	background: #fff;
}
.table-cart__wrapp
{
	padding: 10px;
}
.table-cart
{
	border: 0;
}
.table-cart tr:first-child
{
	border-bottom: 2px solid #fff;
}
.table-cart tr td
{
	padding: 10px 0;
}
.table-cart tr td a
{
	text-decoration: underline;
}
.table-cart tr .btn-del-row
{
	background: none;
	color: #900;
	font-size: 18px;
	font-weight: 100;
	text-transform: uppercase;
}
.table-cart tr input[type="number"]
{
	padding: 10px;
}
.table-cart tr input::-webkit-outer-spin-button,.table-cart tr input::-webkit-inner-spin-button
{
	display: block;
}
.cart-bottom
{
	margin-top: 15px;
	padding: 0 50px 0 0;
	width: 100%;
}
.cart-bottom:before,.cart-bottom:after
{
	content: "";
	display: table;
}
.cart-bottom:after
{
	clear: both;
}
.cart-bottom .cart-bottom__text
{
	float: left;
}
.cart-bottom .total-price
{
	border-top: 1px solid #900;
	float: right;
	text-align: center;
}
.cart-bottom .total-price p
{
	font-weight: 800;
	text-transform: uppercase;
}
.cart-bottom .total-price span
{
	display: block;
}
.language-swip
{
	float: left;
	margin: 18px 0 0 20px;
}
.modal-content
{
	background-color: #dfdfe2 !important;
}
.modal-content .modal-header
{
	border-bottom: 0;
}
.modal-content .modal-header .close
{
	color: #900;
	font-size: 50px;
	margin-right: -10px;
	margin-top: -20px;
}
.modal-content textarea
{
	background-color: #fff;
	height: 117px;
	padding: 10px;
	width: 100%;
}
.modal-content .request .wrapp-check-online {
	text-align: center;
}
.modal .modal-dialog
{
	margin: 190px auto;
}
.blog-post-container img {
	width: 100%;
	max-height: 350px;
}
.mass-media-container img {
	max-height: 100%;
}
.contact-us a:hover {
	opacity: 0.7;
	color: inherit;
}
.greyness {
	background-size: cover;
}
.partners-slider .card-box li:hover .bottom-menu {
	background-color: rgba(15,77,124,0.5);
	height: 109px;
}
.partners-slider .card-box li:hover .bottom-menu .bottom-menu__name:after
{
	display: block;
}
.promo .card-box li .card-box__wrapp {
	width: auto;
}
.promo .card-box li .bottom-menu {
	width: 100%;
}
.promo li {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 17px 15px;
	width: 33.332%;
}
.promo .card-box__wrapp {
	overflow: hidden;
}
.promo img {
	width: 100%;
	height: auto;
	vertical-align: top;
}
.promo-container {
	margin-bottom: 24px;
}
.promo-fatherSon {
	padding: 0 15px;
	font-family: 'RobotoRegular';
	font-size: 18px;
}
.promo-fatherSon p {
	margin-bottom: 25px;
	text-indent: 1.5em;
}
.fatherSon-container {
	margin-bottom: 24px;
}
.emb-responsive {
	position: relative;
	overflow: hidden;
}
.promo-fatherSon img {
	vertical-align: top;
	height: auto;
	width: 100%;
	margin-bottom: 25px;
}
.reviewsN {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 57%;
	padding-right: 15px;
}
.rewiwesNew footer p {
	font-weight: bold;
	margin: 0 0 14px;
}
.rewiwesNew {
	font-size: 12px;
	border-bottom: 1px solid #999;
	padding: 20px 0 0;
}
.rewiwesNew:last-child {
	border-bottom: 1px solid transparent;
}
.rewiwesNew:first-child {
	padding: 0;
}
.rewiwesNew .date-comments {
	text-align: right;

}
.comments {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 43%;
	padding-left: 15px;
}
.comments textarea {
	min-height: 160px;
	width: 100%;
	padding: 13px 17px;
	border: 1px solid #999;
	color:#666;
	margin-bottom: 17px;
}
.comments button {
	color:#fff;
	font-size: 18px;
	padding: 10px;
	width: 52%;
	background: #7c0a0a;
	border:1px solid transparent;
	transition: all 0.3s ease;
	float: right;
}
.comments button :after {
	content:"";
	display: inline-block;
	clear: both;
}
.comments button:hover {
	color:#000;
	background: transparent;
	border:1px solid #7c0a0a;
}
.commets-container {
	margin-bottom: 24px;
}
.container-gift {
	margin-bottom: 24px;
}
.container-gift img {
	vertical-align: top;
	width: 56%;
	display: inline-block;
	margin: 0 -4px 15px 0;
	padding: 0 15px;
	float: left;
}
.gift:after {
	content:"";
	display: block;
	clear:both;
}
.generalButton {
	color:#fff;
	font-size: 18px;
	padding: 10px;
	width: 100%;
	background: #7c0a0a;
	border:1px solid transparent;
	transition: all 0.3s ease;
}
.generalButton:hover {
	color:#000;
	background: transparent;
	border:1px solid #7c0a0a;
}
.container-gift button {
	color:#fff;
	font-size: 18px;
	padding: 10px;
	width: 100%;
	background: #7c0a0a;
	border:1px solid transparent;
	transition: all 0.3s ease;
}
.container-gift button:hover {
	color:#000;
	background: transparent;
	border:1px solid #7c0a0a;
}

.container-gift {
	text-indent: 1.5em;
	font-size: 18px;
	line-height: 24px;
}
.container-gift p {
	margin-bottom: 20px;
	padding: 0 15px;
	float: left;
	width: 44%;
}
.container-gift .form-group label {
	margin-bottom: 15px;
	text-indent: -1.5em;
}
.container-gift .form-group select {
	margin-bottom: 30px;
	font-size: 16px;
	outline: none;
}
.container-gift .form-group button {
	margin-bottom: 15px;
}
.form-group {
	text-align: center;
}
.selectGift {
	padding: 0 15px;
	width: 44%;
	float: left;
}
.container-gift .emb-responsive {
	padding: 0 15px;
}
.container-gift .emb-responsive:before {
	content:"";
	display: block;
	clear:both;
}
.choos-address {
	background: #fff url(../img/bg-choose.png) no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;

}
.choos-address ul {
	text-align: center;
	margin-right: 4px;
}
.choos-address .card-box li {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	padding: 0 50px;
}
.choos-address .main-blocks {
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	padding: 0;
}
.choos-address .card-box li .card-box__wrapp {
	overflow: hidden;
	width: 100%;
}
.choos-address .card-box__wrapp img {
	vertical-align: top;
	width: 100%;
	height: auto;
}
.choos-address .bottom-menu .bottom-menu__link {
	display: inline-block;
	height: 100%;
	width: 100%;
}
.search {
	width: 200px;
	position: relative;
}
.search input {
	border: none;
}
.search .input {
	width: 100%;
	padding: 8px 37px 9px 15px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
	border-radius: 20px;
	background: #EEE;
	font: 13px Tahoma, Arial, sans-serif;
	color: #555;
	outline: none;
}
.search .input:focus {
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
	background: #E8E8E8;
	color: #333;
}
.search .submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 37px;
	height: 100%;
	cursor: pointer;
	background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;
	opacity: 0.5;
}
.search .submit:hover {
	opacity: 0.8;
}
input[type="search"] {
	-webkit-appearance: none;
}
.address-shop {
	text-align: center;
	padding: 15px;
	font-size: 18px;
}
.address-shop a {
	display: inline-block;
	position: relative;
	font-weight: normal;
	border: 2px solid #7c0a0a;
	padding: 10px 18px;
	text-decoration: none !important;
	transition: all 0.3s ease;
	background: #7c0a0a;
	color: #fff;
}
.address-shop a:hover {
	text-decoration: none;
	background: #7c0a0a;
	color: #069;
	background: rgba(255, 255, 255, .7);
}
.choos-address .main-blocks .main-blocks__title {
	padding: 30px 0;
}
.header .search__form {
	margin: 15px 24px 10px 0;
}
.working-hours {
	margin-top: 15px;
}
.working-times {
	margin: 0 22px 5px;
	color: #2f4e7a;
	font-weight: bold;
}
.working-times p {
	margin-bottom: 3px;
	font-size: 12px;
}
.header .header-check {
	color: #900;
	font-weight: bold;
	text-decoration: underline;
	margin-top: 7px;
}
.header .header-check:hover {
	text-decoration: none;
}
.header-navbarHL {
	border-bottom: 1px solid #333;
}
.header-navbarHL ul {
	margin-right: -4px;
	width: 38%;
	display: flex;
	justify-content: space-around;;
	font-family: 'PTSansNarrow';
	text-transform: uppercase;
}
.header-navbarHL li {
}
.header-navbarHL li:hover a {
	color: #48759f;
}
.header-navbarHL li:hover a:before {
	background: url(../img/0010.png) no-repeat 50% 50%;
}
.header-navbarHL li a {
	display: inline-block;
	padding: 5px 0 0 24px;
	color: #333;
	position: relative;
	font-weight: bold;
}
.header-navbarHL li a:hover {
	text-decoration: none;
}
.header-navbarHL li a:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 22px;
	background: url(../img/0011.png) no-repeat 50% 50%;
}
.header .header-navbarFL .header-nav {
	display: flex;
	justify-content: space-around;
	float: none;
}
.header-nav__left,
.header-nav__right {
	width: 38%;
}
.header-navbarFL {
	margin: 3px;
}
.sticky .header-box {
	display: none;
}
.sticky .header-navbarFL {
	margin: 5px;
}
.sticky .header-navbarHL ul {
	margin-bottom: 5px;
}
.header-nav li:hover .dropdownL {
	display: block;
}
.dropdownL {
	background: #dfdfe2;
	position: absolute;
	top: 45px;
	left: 0;
	display: none;
	transform: translateX(-60px);
}
.sticky .dropdownL {
	top: 30px;
}
.dropdownL li {
	padding: 10px;
	border-bottom:1px solid #9a9a9c;
	font-size: 12px;
	text-align: left;
}
.dropdownL li a {
	text-align: left;
	display: inline;
	white-space: nowrap;
}
.dropdownL li:hover:before {
	display: none;
}
.dropdownL li a:hover {
	color: #792a1d;
	text-decoration: none;
}
.dropdownL li a:hover:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 2px;
	height: 1px;
	background: #792a1d;
}
.sticky .dropdownL li {
	line-height: 18px;
}
.sticky .dropdownL li a:hover:before {
	bottom: 0;
}
.header-nav .dropdownL li a:after {
	display: none;
}
.responsive__menu .header-nav li a:after {
	display: none;
}
.responsive__menu .header-nav li {
	padding: 5px;
}
.responsive__menu .header-nav li a:hover {
	color: #792a1d;
	text-decoration: underline;
}
.buttonOnline {
	display: inline-block;
	vertical-align: top;
	position: fixed;
	bottom: 30px;
	right: 0;
	border: 2px solid #7c0a0a;
	padding: 10px 18px;
	background: #7c0a0a;
	text-transform: uppercase;
	z-index: 20000000;
	transition: all 0.3s ease;
	font-weight: bold;
	color:#fff;
}
.buttonOnline:hover {
	color:#7c0a0a;
	text-decoration: none;
	background: rgba(255, 255, 255, .7);
}
.footer .address-shop {
	margin-bottom: 20px;
	padding: 0 15px 15px;
}
.lslide {
	overflow: hidden;
	padding: 0 5px;
}
.offServices {
	background: rgba(0, 0, 0, .8);
}
.offServices:before {
	content: "";
	background: rgba(0, 0, 0, .8);
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.offServices .overlay:hover .overlay-img {
	opacity: 0;
}
.carousel-inner img {
	margin: 0 auto;
}
.modal-body {
	text-align: center;
}
.photo-slider .card-box__wrapp {
	cursor: pointer;
}
#contacts {
	border-bottom: 1px solid #000;
}
.nav__social-list {
	text-align: center;
}
.services-price li {
	display: inline-block;
	vertical-align: top;
	margin-right: -4px;
	width: 50%;
	position: relative;
	padding: 0 50px 0 60px;
	overflow: hidden;
	font-family: RobotoRegular;
}
.services-price li:before {
	content:"";
	display: inline-block;
	background: url(../img/services-item.png) no-repeat 50% 50%;
	position: absolute;
	left: 0;
	top:0;
	bottom: 0;
	width: 45px;
}
.services-price li a {
	color:#000;
	font-size: 20px;
	transition: all 0.3s ease;
	overflow: hidden;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.services-price li a:hover {
	text-decoration: none;
	opacity: 0.7;
}
.services-price li .price-servCLL {
	float: right;
}
.footerWorkTime {
	border-bottom: 1px solid #333;
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	padding: 0 !important;
}
.footer-address {
	border-bottom: 1px solid #333;
	margin-bottom: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
	font-weight: bold;
}
.addressRow {
	display: flex;
	justify-content: space-around;
	margin-right: -15px;
	margin-left: -15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
}
.addressCol {
	width: 33.332%;
	padding: 0 10px;
	border-right: 1px solid #333;
}
.addressCol:last-child {
	border-right: 0px solid #333;
	padding-right: 0;
}
.addressCol:first-child {
	padding-left: 0;
}
.footer .skype-call,
.footer .email-address {
	line-height: 36px;
	text-align: center;
}
.footer .skype-call .fa-skype,
.footer .fa-envelope {
	font-size: 36px;
	margin-right: 10px;
}
.buttonFooter {
	min-width:185px;
	white-space: nowrap;
}
.workbarbershop p {
	font-size: 16px;
	text-align: center;
}
.workbarbershop form {
	max-width: 530px;
	margin: 0 auto 20px;
}
.form-group1 {
	margin-bottom: 6px;
}
.form-group1 label {
	text-align: left;
	padding-left: 5px;
}
.form-group1 input {
	outline: none !important;
}
.form-control {
	color: #000 !important;
	border: 1px solid #7c0a0a !important;
	border-radius: 0 !important;
}
.form-group1 textarea {
	min-height: 150px !important;
	margin-bottom: 20px;
}
.workbarbershop .main-blocks__title {
	padding-bottom: 6px;
}
.partners {
	font-size: 18px;
	line-height: 24px;
}
.partners p {
	text-indent: 1.5em;
	margin-bottom: 20px;
}
.telPartners {
	font-weight: bold;

}
.faqList {
	position: relative;
	z-index: 1;
	list-style: none;
	counter-reset: newCounter;
	padding: 0;
	margin-bottom: 0;
}
.faqList li {
	display: block;
	padding: 17px 0;
	text-decoration: none;
	font-size: 16px;
}
.faqList li p {
	text-indent: 20px;
	padding-left: 35px;
}
.faqList li strong {
	display: inline-block;
	margin-bottom: 10px;
}
.faqList li:before {
	counter-increment: newCounter;
	content: counters(newCounter, ".") ".";
	display: inline-block;
	vertical-align: top;
	width: 35px;
	margin-right: -4px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.faqbarbershop .modal-body {
	text-align: left;
}
.footer-address span {
	white-space: nowrap;
}
.buttonWidth {
	width: 252px;
}
.footer .nav__social-list {
	margin-top: 5px;
}

@media screen and (max-width: 767px) {
	body {
		overflow-x: hidden;
	}
	.cbp-af-header {
		display: none;
	}
	.enter-personal-page {
		margin-left: 0;
	}
	.row-margin .col-xs-9 {
		margin: 0;
	}
	.header {
		box-shadow: none;
		height: auto;
		moz-box-shadow: none;
		webkit-box-shadow: none;
	}
	.header-nav
	{
		margin: 0;
	}
	.autobiography
	{
		background-size: cover;
		width: auto;
	}
	.autobiography .autobiography__title
	{
		max-width: 250px;
		left:0;
		right: 0;
		margin-left: 0;
	}
	.main-blocks .main-blocks-left h3 {
		font-size: 15px;
	}
	.address-shop a {
		font-size: 16px;
	}
	.footer .address-shop {
		padding: 0;
	}
	.contacts-wrapper {
		font-size: 14px;
	}
	.contacts-wrapper h3 {
		font-size: 18px;
	}
	.contacts-wrapper p {
		text-align: left;
	}
	#contacts {
		border-bottom: 1px solid transparent;
	}
	.main-blocks
	{
		margin-bottom: 15px;
	}
	.main-blocks__content
	{
		background-size: cover;
		margin-top: 20px;
		width: auto;
	}
	.card-box li .card-box__wrapp
	{
		margin: 0 auto;
	}
	.map-wrapp img
	{
		width: 100%;
	}
	.footer
	{
		font-size: 15px;
		text-align: center;
	}
	.footer .contact-us li .fa-skype
	{
		float: left;
		margin-right: 0;
	}
	.footer-address:before
	{
		float: left;
	}
	.contact-us li:before
	{
		float: left;
	}
	.personal-pages
	{
		text-align: center;
	}
	.personal-pages .enter-personal-page
	{
		background-color: #0f4d7c;
		padding: 10px 0;
	}
	.personal-pages .enter-personal-page:hover
	{
		background-color: #900;
	}
	.row-description
	{
		padding: 0;
	}
	.services-content .pull-right
	{
		width: 100%;
	}
	.services-item__wrapp
	{
		float: right;
		width: 100%;
	}
	.service-item__responsive
	{
		margin: 0 0 20px 0;
	}
	.col-xs-9
	{
		margin-left: 15%;
	}
	.blog-post-container img {
		width: 100%;
	}
	.blog-post-container .blog-post-container__text
	{
		position: static;
		width: 100%;
	}
	.blog-post-container .blog-post-container__text .blog-post-container__text-link
	{
		position: static;
	}
	.make-tattoo {
		margin-bottom: 0;
	}
	.post-container
	{
		padding: 0;
	}
	.container-gift img {
		width: 100%;
		padding: 0;
	}
	.container-gift p {
		width: 100%;
		float:none;
		padding: 0;
	}
	.selectGift {
		padding-left: 0;
		padding-right: 0;
	}
	.container-gift .emb-responsive,
	.promo-fatherSon {
		padding: 0;
	}
	.choos-address .main-blocks {
		position: static;

	}
	.choos-address {
		height: 100%;
	}
}
@media (min-width: 1300px) {
	.header .header-logo {
		left: 50%;
	}
	header.sticky .header-logo {
		top: 60px;
	}
	.header .header-nav-bar-right {
		margin-right: 10px;
	}
	.header .header-nav-bar-right .header-check {
		margin-right: 0;
	}
	.header .container {
		width: 1300px;
	}
	.header .header-nav-bar-right {
		margin-right: 0;
	}
}
@media screen and (min-width: 800px) {
	.header-nav
	{
		margin: 0;
	}
}
@media (max-width: 1299px) and (min-width: 1200px) {
	.header .header-nav__left .header-nav {
		margin-right: 30px;
	}
	.nav__social {
		margin-right: 30px;
	}
	.container {
		width: 1200px !important;
	}
	.header .header-nav-bar-right {
		margin-right: 50px;
	}
}
@media (min-width: 1240px) {
	.header .header-nav-bar-right {
		margin-right: 25px;
	}
}
@media (min-width: 1240px) {
	.header .header-nav-bar-right {
		margin-right: 25px;
	}
}

@media (max-width: 1199px) and (min-width: 768px) {
	.hidden-md
	{
		display: none !important;
	}
}
@media screen and (min-width: 992px) {
	.main-blocks .main-blocks-left {
		padding: 0;
	}
}
@media screen and (max-width: 991px) {
	.main-blocks .main-blocks-left {
		padding: 0 15px;
	}
	.main-blocks .main-blocks-left h3 {
		font-size: 18px;
	}
	.main-blocks .main-blocks-right .main-blocks-right__row {
		margin-top: 0;
		margin-bottom: 0;
	}
	.footer .contact-us li {
		text-align: center;
	}
	.link-box {
		position: relative;
		margin-bottom: 18px;
	}
	.personal-pages {
		text-align: center;

	}
	.row .enter-personal-page {
		margin-left: 10px;
	}
	.make-tattoo {
		height: 204px;
	}
	.services-price li {
		width: 100%;
	}
	.row-margin {
		width: 100% !important;
		text-align: center;

	}
	.container {
		margin-bottom: 10px;
	}
	.shop-enter-blocks__content {
		height: 300px;
		margin-right: -15px;
		margin-left: -15px
	}
	.main-blocks-right__row {
		margin-bottom: -20px;
	}
	.cosmetics,
	.accessories-hair,
	.clothes {
		height: 300px;
		background-size: cover;
		margin-right: -15px;
		margin-left: -15px;
	}

	.row-margin .col-xs-9 {
		width: 100% !important;
		padding-right: 0;
		padding-left: 0;
	}
	.row-margin {
		margin-bottom: 0;
		padding: 0 !important;
	}
	.footer .skype-call .fa-skype, .footer .fa-envelope {
		font-size: 24px;
		margin-right: 3px;
	}
	.email-address,
	.skype-call {
		font-size: 14px;
	}

	.row-margin .pull-right {
		float:left !important;
		width: 100%;
		margin-bottom: 0;
		padding-right: 0;
		padding-left: 0;
	}
	.text-center iframe {
		width: 100%;
	}
	.services-content {
		padding: 0 !important;
	}
	.father-son,
	.haircut,
	.greyness,
	.royal-shave,
	.child-haircut,
	.man-haircut,
	.make-tattoo,
	.laying,
	.mowing-machine,
	.beard-grooming {
		height: 204px;
		width: 550px;
		margin: 0 auto 20px;
		background-size: cover;
	}
	.services-item__wrapp {
		float: left;
		width: 100%;
		padding: 0 !important;
	}
	.promo li {
		width: 50%;
	}

	.reviewsN {
		width: 100%;
		padding-right: 0;
	}
	.comments {
		width: 100%;
		padding-left: 0;
	}
	.comments button {
		width: 100%;
	}
	.selectGift {
		width: 100%;
	}
	.choos-address .card-box li {
		width: 33.332%;
	}
	.footer-address span {
		display: block;
	}
}
@media only screen and (max-width: 1199px) {
	.header-nav li {
		float: none;
		margin:0;
	}
	header.sticky {
		display: none;
	}
	.header-nav {
		margin: 0;
	}
	.header-nav li .active {
		border-top: 0 solid #900;
		border-bottom: 2px solid #900;
	}
	.footer .nav__social {
		margin: 0;
	}
	.hidden-menu {
		width: 300px;
		height: auto;
		top: 0;
		left: -320px;
	}
	.hidden-menu-ticker:checked ~ .hidden-menu {
		left: 0;
	}
	.blog-post-container img {
		max-height: 300px;
	}
	.mass-media-container {
		width: 100% !important;
	}
	.other-goods__list li {
		width: 214px;
		margin-right: 4px;
		position: relative;
	}
	.card-box li .bottom-menu {
		width: 100%;
	}
	.card-box li .bottom-menu .bottom-menu__name {
		font-size: 16px;
	}
	.card-box li .bottom-menu .bottom-menu__btn-buy {
		font-size: 17px;
	}
	.footer {
		font-size: 18px;
	}
	.nav__social li {
		margin: 0 2px;
	}
	.choos-address .card-box li {
		padding: 0 10px 10px;
	}
}
@media (max-width: 991px) and (min-width: 767px) {
	.responsive__menu .header-nav {
		display: block !important;
	}
	.blog-post-container img {
		max-height: 264px;
	}
	.mass-media-container img {
		max-height: 350px;
	}
	.nav__social li {
		margin: 0 2px;
	}
}

@media screen and (max-width: 767px) {
	.make-tattoo {
		margin-bottom: 0;
	}
	.blog-post-container img {
		max-height: 264px;
	}
	.other-goods__list {
		margin: 0 -15px 0;
	}
	.footer {
		font-size: 14px;
	}
	.post-container {
		font-size: 14px;
	}
	.nav__social li {
		margin: 0 4px;
	}
	.other-goods__list img {
		width: 100%;
	}
	.card-box li .bottom-menu {
		width: 100%;
	}
	.other-goods__list li {
		width: 100%;
		margin-bottom: 15px;
	}
	.promo li {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.main-blocks .main-blocks__title {
		padding: 15px 0 15px 0;
		font-size: 29px;
	}
	.choos-address .card-box li {
		width: 100%;
		padding: 0 100px 10px;
	}
	.choos-address .main-blocks {
		transform: translateX(0) translateY(0);
	}
	.addressRow {
		text-align: left;
	}
	.addressCol {
		border: 0px solid #333;
		width: 100%;
		padding: 5px 0 0;
		border-bottom: 2px solid #333;
	}
	.addressRow {
		flex-wrap: wrap;
		border-bottom: 0;
		margin-bottom: 10px;
	}
	.footerWorkTime {
		border-bottom: 2px solid #333;
		margin-bottom: 0px;
	}
	.footer-address span {
		display: inline;
	}
	.buttonFooter {
		width: 100%;
	}
	.email-address,
	.skype-call {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
	.personal-pages .enter-personal-page {
		height: auto;
		display: block;
		width: 100%;
	}
	.row .enter-personal-page__link {
		display: block;
		margin-bottom: 15px;
	}
	.main-blocks .main-blocks__title h1 {
		font-size: 28px;
	}
	.personal-pages .enter-personal-page h3 {
		margin-bottom: 17px;
	}
	.row .enter-personal-page__logo {
		display: none;
	}
	.personal-pages .col-md-6 {
		width: 100%;
	}
	.row .enter-personal-page {
		margin-left: 0;
	}
	.main-blocks .main-blocks__title {
		font-size:28px;
	}
	.personal-pages .col-md-6 img {
		width: 100%;
	}
	.father-son,
	.haircut,
	.greyness,
	.royal-shave,
	.child-haircut,
	.man-haircut,
	.make-tattoo,
	.laying,
	.mowing-machine,
	.beard-grooming {
		width: 260px;
	}
	.choos-address .card-box li {
		padding: 0 10px 10px;
	}
	.services-price li {
		padding: 10px 0;
	}
	.services-price li:before {
		display: none;
	}
	.services-price li a {
		font-size: 15px;
	}
}