span.active {
    color: #0f4d7c !important;
}

#form-summary input.error
{
    border: 1px solid red !important;
}
#form-summary input.success
{
    border: 1px solid green !important;
}

#summary-success, #summary-error{
    display: none;
}

.go-to-down__nav {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
}