.theme-option-main-block table.theme-option-table{
    border: 0px solid black;
    border-radius: 20px;
    padding: 30px 20px;
    width: 100%;
}
.theme-option-main-block .theme-option-table h1{
    color: #0ca72d;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.theme-option-main-block .theme-option-table td{
    padding-bottom: 15px;
    font-size: 16px;
}
.theme-option-main-block .theme-option-table h3{
    padding: 10px 0;
    margin: 0;
    padding-top: 3px;
}
.theme-option-table.social tr{
    border: 1px solid #ccc;
}
.theme-option-table th{
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.theme-option-main-block #title{
    width: 60%;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    color: #14a217;
    font-size: 28px;
}
.theme-option-main-block table.table-block{
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    margin-bottom: 20px;
}
#container {
    max-width: 1400px;
    margin: 20px auto 20px;
    padding: 0;
}
#container > h1 {
    padding: 0px;
    font-weight: 400;
    text-align: left;
}
p {
    margin: 0 0 5px;
    line-height: 1.5;
}
.info{
    color:rgba(78, 78, 78, 0.8);
    width:100%;
    margin: 40px auto;
    text-align: center;
    font-weight:300;
}
.info a {
    color: #bbb;
    text-decoration:none;
}
.info a:hover {
    color: #888;
}
/* Конец стилей демо-страницы */

/* Базовый контейнер табов */
.tabs {

    padding: 0px;
    margin: 0 auto;

}
/* Стили секций с содержанием */
section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}
.tabs input[id*="tab"] {
    display: none;
}
/* Стили вкладок (табов) */
.tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid #ddd;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
    font-size: 20px;
}
.my-button-primary{
    width: 200px;
    height:50px !important;
    font-size: 20px !important;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
/*.tabs label:before {
font-family: fontawesome;
font-weight: normal;
margin-right: 10px;
}
.tabs label[for*="1"]:before {
content: "\f19a";
}
.tabs label[for*="2"]:before {
content: "\f17a";
}
.tabs label[for*="3"]:before {
content: "\f13b";
}
.tabs label[for*="4"]:before {
content: "\f13c";
}*/
/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
    color: #888;
    cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 1px solid #009933;
    border-bottom: 1px solid #fff;
    background: #fff;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}
/* медиа запросы для различных типов носителей */
@media screen and (max-width: 680px) {
    .tabs label {
        font-size: 0;
    }

    .tabs label:before {
        margin: 0;
        font-size: 18px;
    }
}
@media screen and (max-width: 400px) {
    .tabs label {
        padding: 15px;
    }
}

table.add-box tr.upload-foto-box h4{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    padding-left: 0px;
}

 .main-container{
     width:100px;
     height: 45px;
 }
.left-block{
    height: 100%;
    width: 50%;
    background-color: #2f2f2f;
    float: left;
}
.right-block{
    height: 100%;
    width: 50%;
    float: left;
}
.own-block{
    display: inline-block;
    float: left;
    margin-bottom: 3px;
    margin-left: 2.5%;
    height: 21px;
    width:45%;
    background-color: #2f2f2f;
}
.block-active{
    background-color: #be3631 !important;
}

.services-conteiner{
    width:100px;
    height: 110px;
}
.services-right{
    width: 48px;
    height: 57px;
    margin-left: 2px;
    float: left;
}
.services-full-block{
    width: 100%;
    height: 36px;
    float: left;
    background-color: #2f2f2f;
}
.services-mini-block{
    width: 47%;
    height: 18px;
    margin-right: 6%;
    float: left;
    background-color: #2f2f2f;
}
.non-margin-right{
    margin-right: 0;
}
.services-margin-bottom{
    margin-bottom: 3px;
}
.services-full{
    width:100%;
    height: 39px;
    padding-top: 3px;
    clear: both;
}
.services-mini-2{
    width:23px;
    height:36px;
    margin-left: 2px;
    margin-right: 2px;
    float: left;
    background-color: #2f2f2f;
}
.services-full-block-2{
    width: 47px;
    height: 36px;
    margin-right: 2px;
    float: left;
    background-color: #2f2f2f;
}
.services-mini-2-2{
    width:24px;
    height:17px;
    margin-bottom: 2px;
    float: left;
    display: inline;
    background-color: #2f2f2f;
}
.theme-option-table select{
    max-width: 350px;
}
.shop-block{
    width:100%;
    height: 18px;
    clear: both;
    padding-left: 2px;
}
.shop-mini-block{
    width: 23px;
    height: 18px;
    margin-right: 2px;
    display: inline;
    float: left;
    background-color: #2f2f2f;
}
.shop-mini-double {
    width: 48px;
    height: 18px;
    display: inline;
    float: left;
    background-color: #2f2f2f;
}


.tabs2{
    display:inline-block;
}
.tabs2 > div{
    padding-top:10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border: 1px solid #46c765;

}
.tabs2 ul{
    margin:0px;
    padding:0px;
}
.tabs2 ul:after{
    content:"";
    display:block;
    clear:both;
    height:5px;
    background:#46c765;
}
.tabs2 ul li{
    margin:0px;
    padding:0px;
    cursor:pointer;
    display:block;
    float:left;
    padding:10px 15px;
    background:#e9eaeb;
    color:#707070;
}
.tabs2 ul li.active, .tabs2 ul li.active:hover{
    background:#46c765;
    color:#fff;
}
.tabs2 ul li:hover{
    background:#d6d6d7;
}

.input-admin{
    width: 350px;
}
.textarea-admin{
    width: 450px;
    min-height: 50px;
}